.customitem{
    min-height: 68px;
}

.auto-width-img {
    object-fit: initial;
    height: 100%;
    width: auto !important;
  }
  .empty-list-message {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    text-align: center;
    font-size: 18px;
    color: #6e6d6d;
  }

  
  
  
  
