.customitem{
    min-height: 68px;
}

.auto-width-img {
    object-fit: initial;
    height: 100%;
    width: auto !important;
  }
  .empty-list-message {
    text-align: center;
    font-size: 18px;
    color: #6e6d6d;
    margin-top: 20px; 
  }

  
  
  
  
