.pokemon-title {
    display: flex;
    align-items: center;
  }
  

.favorito {
    color: darkred;
  }


  .coracao-link {
    text-decoration: none; 
    margin-left: 10px; 
    margin-top: 4px;
    color: darkred; 
    font-size: 24px; 
 
  }
 

  

